.dash-table-container .dash-spreadsheet-container {
    display: table-cell!important;
}

# CSS styles to modify dropdown options and selected text color
.my-dropdown .VirtualizedSelectOption {
    color: #636EFA !important;  /* Change options text color */
}
.my-dropdown .VirtualizedSelectFocusedOption {
    color: white !important; /* Change focused option background */
    background-color: #636EFA !important; /* Change focused option text color */
}
.my-dropdown .Select-value-label {
    color: #636EFA !important; /* Change selected option text color */
    font-weight: bold !important; /* Make selected option bold */
}

/* Configuration for Titles */
@media screen and (max-width: 600px) {
  /* Adjust title font size for smaller screens */
  .plotly-title {
    font-size: 18px;
  }
}

@media screen and (min-width: 601px) {
  /* Default title font size for larger screens */
  .plotly-title {
    font-size: 24px;
  }
}

/* Configuration for Footnotes */
@media screen and (max-width: 600px) {
  /* Adjust footnote font size for smaller screens */
  .plotly-footnote {
    font-size: 11px;
  }
}

@media screen and (min-width: 601px) {
  /* Default footnote font size for larger screens */
  .plotly-footnote {
    font-size: 8px;
  }
}